<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="depth_cam_joint" type="fixed">
        <parent link="chassis"/>
        <child link="camera_link"/>
        <origin xyz="0.305 0 0.1" rpy="0 0 0"/>
    </joint>

    <link name="camera_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 ${-pi/2}"/>
            <geometry>
              <mesh filename="file://$(find pathfinder)/description/meshes/intel_realsense_D435.stl" 
                        scale="0.001 0.001 0.001"/> <!-- scale is in meters -->
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.025 0.09 0.025"/>
            </geometry>
        </collision>
         <xacro:inertial_box mass="0.1" x="0.025" y="0.09" z="0.025">
            <origin xyz="0 0 0.0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>


    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/> <!-- Z axis becomes depth(x-axis)-->
    </joint>

    <link name="camera_link_optical"></link>


    <gazebo reference="camera_link">
        <material>Gazebo/Blue</material>

        <sensor name="camera" type="depth">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>B8G8R8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.28</near>
                    <far>6.0</far>
                </clip>
            </camera>

            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
                <min_depth>0.28</min_depth>
                <max_depth>6.0</max_depth>
            </plugin>
        </sensor>
    </gazebo>

</robot>