<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!--materials-->
    <material name="white">
        <color rgba="1 1 1 1" />
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>
   
    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <material name="green">
        <color rgba="0 1 0 1"/>
    </material>
    
    <material name="blue">
        <color rgba="0 0 1 1"/>
    </material>

    <material name="grey">
        <color rgba="${128/255} ${128/255} ${128/255} 1"/>
    </material>

    <material name="fontys_purple">
        <color rgba="${102/255} ${51/255} ${102/255} 1"/>
    </material>

</robot>