<?xml version="1.0"?>
<robot name="pathfinder" xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:include filename="robot_core.xacro" />
    <xacro:include filename="gazebo_control.xacro" />
    <xacro:include filename="gazebo_lidar.xacro" />
    <!-- <xacro:include filename="depth_camera.xacro" /> -->

</robot>
 